*{
  box-sizing: border-box;
  margin: 0;
}

header{
  padding: 30px 0 30px 0;
  background: rgb(27, 28, 31);
  color:gainsboro;
  text-align: center;
}
header h1{
  font-family:initial;
  display: inline;
  margin-left: 15px;
  font-weight: 300;
}
input{
  width:150px;
  padding: 5px;
  font-size: 1en;
}

.list{
  display:grid;
  margin:20px 0 60px 0;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: 1fr;
  grid-gap: 1en;
}
.search{
  text-align: center;
  color: black;
  border-style: outset;
  height: 50px;
}

.sort {
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(27, 28, 31);
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px #999;
}

.sort:hover {background-color: rgb(27, 28, 31)}

.sort:active {
  background-color: #333533;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}
.submit {
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(27, 28, 31);
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px #999;
}

.submit:hover {background-color: rgb(27, 28, 31)}

.submit:active {
  background-color: #333533;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.card-container{
  width:250px;
  border: 1px solid rgba(0,0,0,.125);
  margin:0 auto;
  border-radius: 5px;
  overflow: hidden;
}
.desc{
  height:130px;
  padding: 10px;
}
.desc h2{
  font-size: 1en;
  font-weight: 400;
}
.desc h3,p{
  font-weight: 300;
}
.desc h3{
  color:#4d5052;
  font-size: 1en;
  padding:10px 0 10px 0;
}